.hero {
	padding-bottom: 140px;
}
.panel-body {
	h4:first-child {
		margin-top: 0;
	}
}
.panel-footer {
  .text-success h5,
  .text-danger h5 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 120%;
    color: inherit;
  }
}

@media screen and (max-width:1000px) {
  
}

@media screen and (max-width:900px) {
  
}

@media screen and (max-width:800px) {
  
}
